@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bg-dark text-center text-light p-6 shadow-lg" id="container">
    <div class="borderTop"></div>
    <div class="borderLeft"></div>
    <div class="borderRight"></div>
    <div class="borderBottom"></div>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core" class="link-light">building Web apps with ASP.NET Core</a>.</p>
</div>
