@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container-fluid bg-dark text-center text-light p-6 shadow-lg" id="container">
    <div class="borderTop"></div>
    <div class="borderLeft"></div>
    <div class="borderRight"></div>
    <div class="borderBottom"></div>

    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>

</div>
