@{
    ViewData["Title"] = "Bem Vindo, Aluno!";
}

<div class="container-fluid bg-dark text-center text-light p-5 mt-5 justify-content-center shadow-lg" >
    <h1>@ViewData["Title"]</h1>
    <p>Por favor, escolha uma opção:</p>
    <button class="btn btn-success">Entrar</button>
    <p><br />ou</p>
    <button class="btn btn-primary">Criar Cadastro</button>
    
</div>
